[submodule "OpenGLApp/vendor/GLFW"]
	path = OpenGLApp/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "OpenGLApp/vendor/glm"]
	path = OpenGLApp/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OpenGLApp/vendor/ImGui"]
	path = OpenGLApp/vendor/ImGui
	url = https://github.com/TheCherno/imgui
